<div>
  <a style="margin-right:5em" href="/">home</a><a href="/abc/tom">abc</a>
  <h1>Body</h1>
  <p>name: {{ .Name }} </p>
  <!-- <button onclick="sendFrom()">From服务端发送信息</button> -->
  <button onclick="sendTo()">To向服务端发送信息</button>
</div>

<div id="main-div" style="margin-top:5em;background: #CCCBBB">
  <image-upload></image-upload>

  div content
  <div id="box2" class="fade in" style="height:200px;background: #FCFCFC; position: relative">
    <h1>Box2 -------------- </h1>
  </div>
  <button @click="_onClick1">addClass</button>
  <button @click="_onClick2">removeClass</button>
  <button @click="_onClick3">showLoading</button>
  <button @click="_onClick4">hideToast</button>
  <button @click="_onClick5">show</button>
  <button @click="_onClick6">hide</button>
  <button @click="_onClick7">open image</button>
  <button @click="_onClick8">show busy</button>
  <button @click="_onClick9">hide busy</button>

  <div>
    <button class="parent-p" @click="_onClickTaggle">taggle</button>
  </div>
  <div class="hide fade">
    taggle
  </div>

</div>
